<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex">
                        <h3 *ngIf="user.role=='admin'">Welcome admin panel  -  {{user ? user.username : 'John Doy'}}</h3>
                        <h3 *ngIf="user.role=='user'">Welcome  -  {{user ? user.username : 'John Doy'}}</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" *ngIf="user.role == 'admin'">
                        
                        <div class="col-sm-6 text-left">
                            <button type="button" class="btn btn-md btn-primary" [routerLink]="['/user-list']">User panel</button>  <button type="button" class="btn btn-md btn-primary  ms-2" [routerLink]="['/courselist']">Course panel</button>        <button type="button" class="btn btn-md btn-primary ms-2" [routerLink]="['/allcourseforuser']">Course User View</button>

                        </div>
                       

                        
                    </div>
                    <div class="row" *ngIf="user.role == 'user'">
                        
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-md btn-primary" [routerLink]="['/allcourseforuser']">View all courses</button>
                        </div>    
                        <div class="col-sm-4"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>